.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid #2d3239;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-y: scroll;
  overflow-x: hidden;
}
ul,
li {
  font-size: 2rem;
}
h2 {
  font-size: 3rem;
  line-height: 1.1;
}
h3 {
  font-size: 2.3rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.1;
}
.nav-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 3rem;
}
@media (max-width: 500px) {
  .nav-container {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.25rem 1rem 0.25rem;
    width: 100%;
    background-color: #7292b8;
  }
  .nav-container .ham-menu-ic {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .nav-container a {
    display: none;
  }
  .nav-container .logo {
    display: inline-flex;
    padding: 0 15rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .nav-container .ic-input {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.nav-container .nav-bar {
  display: inline-flex;
  width: 100%;
}
@media (max-width: 500px) {
  .nav-container .nav-bar {
    display: block;
    width: 100%;
  }
}
.hero-img img {
  width: 100%;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-text {
  font-size: 1rem;
}
@media (max-width: 500px) {
  .hook-pitch {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
  }
  .hook-pitch .best-care {
    margin: 4rem 0 1rem 0;
    font-size: 2.8rem;
  }
}
@media (max-width: 500px) {
  button {
    margin-top: 3rem;
    width: 90%;
    font-size: 2.85rem;
    font-weight: bold;
    border-radius: 2.5rem;
    color: #f9fafa;
    background-color: #306d96;
    padding: 1rem 1rem;
  }
}
@media (max-width: 500px) {
  .mid-content .park-assist {
    margin: 10rem 0 3rem 3rem;
    width: 100%;
  }
  .mid-content .park-assist .kid-room-img {
    padding: 3rem 4rem;
    width: 80%;
  }
  .mid-content .park-assist .park-heading {
    margin: 1rem 1rem 2rem 20rem;
  }
}
@media (max-width: 500px) {
  .mid-content .wonderful-time {
    font-size: 2.5rem;
    margin: 2rem 3rem 1rem 1rem;
  }
}
.mid-content .wonderful-time .room-heading {
  font-size: 2rem;
  margin: 1rem 0;
}
@media (max-width: 500px) {
  .bottom-content {
    font-size: 2rem;
    margin: 2rem 3rem 1rem 1rem;
  }
}
.hero-img {
  margin-bottom: 3rem;
}
.offers {
  margin: 1rem;
}
.help {
  width: 100%;
}
.help img {
  width: 80%;
  margin: 1rem 0 1rem 8rem;
}
.in-img {
  width: 100%;
}
.in-img img {
  width: 80%;
  margin: 1rem 0 1rem 0;
}
.room-heading {
  margin: 1rem;
  font-size: 2.5rem;
  margin: 2rem 0 2rem 0;
}
.givers {
  margin: 1rem 0 1rem 0;
  width: 100%;
}
.givers img {
  width: 100%;
}
.parent-care {
  margin: 1rem 0 1rem 10rem;
}
.why-complicate {
  margin: 1rem 0 1rem 2rem;
  font-size: 2rem;
}
.giver-overview {
  font-size: 2.5rem;
}
.cast-attrib {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
  width: 80%;
  color: #306D96;
  font-size: 3.5rem;
}
.attr-text {
  margin-left: 4rem;
  margin-top: -4rem;
}
.attr-1,
.attr-2,
.attr-3,
.attr-4,
.attr-5,
.attr-6 {
  margin: 1rem 0;
  line-height: 1.5;
  height: 1.5%;
  width: 4%;
}
.top-slant-bg,
.bottom-slant-bg {
  background-color: #F4EDE5;
}
@media (max-width: 500px) {
  .price-chart {
    border-radius: 2rem;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25rem;
    background: url("https://i.ibb.co/F01DMXF/Mask.png");
  }
}
.speech-bubble {
  position: relative;
  background: #f6d7b3;
  border-radius: 0.4em;
}
.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #f6d7b3;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}
.container {
  overflow-y: scroll;
  overflow-x: hidden;
}
h1 {
  display: block;
  text-align: center;
}
@media (max-width: 500px) {
  h1 {
    width: 100%;
    font-size: 10rem;
    font-style: bold;
  }
}
@media (max-width: 500px) {
  h2 {
    margin: 20rem 0 1rem 0;
  }
}
.parent-team {
  display: block;
  font-family: 'Waltograph', sans-serif;
  font-size: 10rem;
  margin: -30rem 5rem 0 -75rem;
}
@media (max-width: 500px) {
  .parent-team {
    margin: -40rem 5rem 0 -12rem;
    display: block;
    font-family: 'Waltograph', sans-serif;
    font-size: 4rem;
  }
}
.castle-img {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 80rem;
  margin-top: -40rem;
}
@media (max-width: 500px) {
  .castle-img {
    margin-bottom: 10rem;
  }
}
p {
  font-family: 'Lato', sans-serif;
  display: flex;
  width: 20%;
}
@media (max-width: 500px) {
  p {
    width: 100%;
    font-size: 2rem;
  }
}
.quotes {
  display: block;
  width: 100%;
}
@media (max-width: 500px) {
  .quotes {
    margin-top: 63rem;
    width: 100%;
  }
}
.card-1 {
  width: 100%;
  margin: 80rem 0 5rem 50rem;
}
@media (max-width: 500px) {
  .card-1 {
    margin: 0 3rem 3rem 11rem;
    display: block;
    height: 15%;
    width: 50%;
  }
}
.card-2 {
  width: 100%;
  margin: -27rem 0 1rem 2rem;
}
@media (max-width: 500px) {
  .card-2 {
    margin: 0 3rem 3rem 11rem;
    display: block;
    width: 50%;
  }
}
.card-3 {
  margin: -27rem 0 1rem 100rem;
  width: 100%;
}
@media (max-width: 500px) {
  .card-3 {
    margin: 0 3rem 3rem 11rem;
    display: block;
    width: 50%;
  }
}
.card-4 {
  margin: 25rem 0 2rem 2rem;
  width: 100%;
}
@media (max-width: 500px) {
  .card-4 {
    margin: 0 3rem 3rem 11rem;
    display: block;
    width: 50%;
  }
}
.card-5 {
  margin: -20rem 0 0 47rem;
  width: 100%;
}
@media (max-width: 500px) {
  .card-5 {
    margin: 0 3rem 3rem 11rem;
    display: block;
    width: 50%;
  }
}
.card-6 {
  width: 100%;
  margin: -20rem 0 0 100rem;
}
@media (max-width: 500px) {
  .card-6 {
    margin: 0 3rem 3rem 11rem;
    display: block;
    width: 50%;
  }
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .cards-container {
    width: 1200px;
  }
}
.cards-container .card {
  border-bottom: 1px solid #2d3239;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  background-color: #2d3239;
  width: 380px;
  margin-bottom: 16px;
  padding: 24px;
}
.cards-container .card .headline {
  font-size: 25px;
  font-family: 'Lido', serif;
}
.cards-container .card .author {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}
.cards-container .card .author .img-container {
  padding-right: 10px;
  border-right: 1px solid #2d3239;
  height: 40px;
}
.cards-container .card .author .img-container img {
  width: 40px;
}
.cards-container .card .author span {
  padding-left: 1rem;
  font-size: 15rem;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs {
  border-bottom: 1px solid #2d3239;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 47px;
  background-color: #2d3239;
}
@media (min-width: 1280px) {
  .tabs {
    width: 1280px;
  }
}
.tabs .topics {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
}
@media (max-width: 500px) {
  .tabs .topics {
    margin-top: 125rem;
    padding: 1rem;
    height: 10rem;
    font-size: 5rem;
    display: flex;
    justify-content: space-evenly;
  }
}
.tabs .topics .title {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs .topics .tab {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: #2d3239;
  background-color: #2d3239;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 2rem;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.tabs .topics .active-tab {
  background-color: #2d3239;
  color: #2d3239;
  border: 2px solid #2d3239;
}
.topics {
  margin-top: 100rem;
  width: 100%;
  display: block;
}
@media (max-width: 500px) {
  .topics {
    margin: 1rem;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
}
.top-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  position: fixed;
  height: 44px;
  background-color: #f6d7b3;
}
.top-bar .container {
  width: 100%;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  color: #2d3239;
  letter-spacing: 1px;
  padding: 0 10px;
}
@media (min-width: 1280px) {
  .top-bar .container {
    width: 1280px;
  }
}
.top-bar .container .container-left {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 11px;
}
.top-bar .container .container-left span {
  cursor: pointer;
  margin-right: 25%;
  font-weight: bold;
}
.top-bar .container .container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 3;
  font-size: 9px;
}
.top-bar .container .container-center span {
  cursor: pointer;
  margin-right: 5%;
}
.top-bar .container .container-center span:last-child {
  margin-right: 0;
}
.top-bar .container .container-center span:hover {
  text-decoration: underline;
}
.top-bar .container .container-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 11px;
  font-weight: bold;
}
.top-bar .container .container-right span {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #f6d7b3;
  border-bottom: 1px solid #2d3239;
  width: 100%;
  height: 120px;
  margin-top: 44px;
  padding-bottom: 15px;
}
@media (min-width: 1280px) {
  .header {
    width: 1280px;
  }
}
.header h1 {
  font-size: 60px;
  font-family: Didot, serif;
  font-weight: bold;
  flex: 8;
  text-align: center;
  color: #2d3239;
}
.header span {
  align-self: flex-end;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
}
.header .date {
  margin-left: 25px;
  flex: 1;
}
.header .temp {
  text-align: right;
  margin-right: 25px;
  flex: 1;
}
.tabs {
  border-bottom: 1px solid #2d3239;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 47px;
  background-color: #f6d7b3;
}
@media (min-width: 1280px) {
  .tabs {
    width: 1280px;
  }
}
.tabs .topics {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
}
.tabs .topics .title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs .topics .tab {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: #2d3239;
  background-color: #f6d7b3;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.tabs .topics .active-tab {
  background-color: #f6d7b3;
  color: #2d3239;
  border: 2px solid #F4C215;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 100%;
  margin-top: 16px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .cards-container {
    width: 1200px;
  }
}
.cards-container .card {
  border-bottom: 1px solid #2d3239;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  background-color: #f6d7b3;
  width: 380px;
  margin-bottom: 16px;
  padding: 24px;
}
.cards-container .card .headline {
  font-size: 25px;
  font-family: Didot, serif;
}
.cards-container .card .author {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}
.cards-container .card .author .img-container {
  padding-right: 10px;
  border-right: 1px solid #F4C215;
  height: 40px;
}
.cards-container .card .author .img-container img {
  width: 40px;
}
.cards-container .card .author span {
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
