/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Lato", "sans-serif";
  color: #2d3239;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", "sans-serif";
  color: #306D96;
  font-weight: bold;
}
ul,
li {
  font-size: 2rem;
}
h2 {
  font-size: 3rem;
  line-height: 1.1;
}
h3 {
  font-size: 2.3rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.1;
}
.nav-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 3rem;
}
@media (max-width: 500px) {
  .nav-container {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.25rem 1rem 0.25rem;
    width: 100%;
    background-color: #7292b8;
  }
  .nav-container .ham-menu-ic {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .nav-container a {
    display: none;
  }
  .nav-container .logo {
    display: inline-flex;
    padding: 0 15rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .nav-container .ic-input {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.nav-container .nav-bar {
  display: inline-flex;
  width: 100%;
}
@media (max-width: 500px) {
  .nav-container .nav-bar {
    display: block;
    width: 100%;
  }
}
.hero-img img {
  width: 100%;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-text {
  font-size: 1rem;
}
@media (max-width: 500px) {
  .hook-pitch {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
  }
  .hook-pitch .best-care {
    margin: 4rem 0 1rem 0;
    font-size: 2.8rem;
  }
}
@media (max-width: 500px) {
  button {
    margin-top: 3rem;
    width: 90%;
    font-size: 2.85rem;
    font-weight: bold;
    border-radius: 2.5rem;
    color: #f9fafa;
    background-color: #306d96;
    padding: 1rem 1rem;
  }
}
@media (max-width: 500px) {
  .mid-content .park-assist {
    margin: 10rem 0 3rem 3rem;
    width: 100%;
  }
  .mid-content .park-assist .kid-room-img {
    padding: 3rem 4rem;
    width: 80%;
  }
  .mid-content .park-assist .park-heading {
    margin: 1rem 1rem 2rem 20rem;
  }
}
@media (max-width: 500px) {
  .mid-content .wonderful-time {
    font-size: 2.5rem;
    margin: 2rem 3rem 1rem 1rem;
  }
}
.mid-content .wonderful-time .room-heading {
  font-size: 2rem;
  margin: 1rem 0;
}
@media (max-width: 500px) {
  .bottom-content {
    font-size: 2rem;
    margin: 2rem 3rem 1rem 1rem;
  }
}
.hero-img {
  margin-bottom: 3rem;
}
.offers {
  margin: 1rem;
}
.help {
  width: 100%;
}
.help img {
  width: 80%;
  margin: 1rem 0 1rem 8rem;
}
.in-img {
  width: 100%;
}
.in-img img {
  width: 80%;
  margin: 1rem 0 1rem 0;
}
.room-heading {
  margin: 1rem;
  font-size: 2.5rem;
  margin: 2rem 0 2rem 0;
}
.givers {
  margin: 1rem 0 1rem 0;
  width: 100%;
}
.givers img {
  width: 100%;
}
.parent-care {
  margin: 1rem 0 1rem 10rem;
}
.why-complicate {
  margin: 1rem 0 1rem 2rem;
  font-size: 2rem;
}
.giver-overview {
  font-size: 2.5rem;
}
.cast-attrib {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
  width: 80%;
  color: #306D96;
  font-size: 3.5rem;
}
.attr-text {
  margin-left: 4rem;
  margin-top: -4rem;
}
.attr-1,
.attr-2,
.attr-3,
.attr-4,
.attr-5,
.attr-6 {
  margin: 1rem 0;
  line-height: 1.5;
  height: 1.5%;
  width: 4%;
}
.top-slant-bg,
.bottom-slant-bg {
  background-color: #F4EDE5;
}
@media (max-width: 500px) {
  .price-chart {
    border-radius: 2rem;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25rem;
    background: url("https://i.ibb.co/F01DMXF/Mask.png");
  }
}
