header{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	@media @phone{
		display:inline-flex;
		justify-content: flex-start;
	}
}

.hero-img{
	
	height:50rem;
	width: 60%;

	@media @phone {
		width:100%;
	}
}
.hook-pitch {
	
		width:40%;
		height:50rem;
		padding:1rem;
		
		@media @phone {
		
		
		width:100%;
		
		
}}
.never-late{
    display:flex;
	font-size:4rem;
	color:@btn-bg;
	width:100%;
	font-weight: bolder;
}

.best-care{

display:flex;
font-size:3rem;
width:100%;

	@media @phone{
	
font-size:2.5rem;
width:100%;
	}
}
.become-parent {
	
		
		width: 90%;
		font-size: 2.85rem;
		font-weight: bold;
		border-radius: 2.5rem;
		color: @btn-font;
		background-color: @nav-bg-color;
		padding: 1rem 1rem;

			@media @phone {
				
				width: 90%;
				font-size: 2.85rem;
				font-weight: bold;
				border-radius: 2.5rem;
				color: @btn-font;
				background-color: @nav-bg-color;
				padding: 1rem 1rem;
				}}




.mid-content {

	@media @phone {
		// .park-assist {
			
		// 	width: 100%;

			.kid-room-img {
				padding: 3rem 4rem;
				width: 80%;
			}

			.park-heading {
				width:100%;
				
				color:@btn-bg;
				font-weight: bolder;
				font-size:3rem;
			}
		}
	}
	.wonderful-time {
		@media @phone {
			
			line-height: 1.25;
			font-size: 2.2rem;
		}
	}


.bottom-content {
	@media @phone {
		font-size: 2rem;
		
	}
}

.offers{
	
	color:@btn-bg;
	font-size: 3.8rem;
	strong{
		font-weight: bolder;
	}
}
.help{
	
	width:100%;
	img{
		width:80%;
	
	}
}
.in-img{


	width:100%;
	img{
		width:80%;
		
	}
}
.in-room{
	padding:1rem;
	
	color:@btn-bg;
	font-weight: bolder;
}
.room-heading{
	padding: 2rem;
	display:flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size:2.4rem;
	line-height: 1.2;
	
}
.givers{
	
	width:100%;
	img{
		width:100%;
	}
}
.parent-care{
color:@btn-bg;
	
}
.why-complicate{
	padding:1rem;
	color:@btn-bg;
	display:block;
	text-align: center;
	line-height: 1.3;
	font-size: 2rem;
	width:80%;
}
.giver-overview{
	font-size: 2.5rem;
}
.cast-attrib{
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	padding:2rem;
	width:80%;
	color:@h2-color;
	font-size:3.5rem;
		
}

.attr-1, .attr-2, .attr-3, .attr-4, .attr-5, .attr-6{
	
	line-height: 1.5;
	height:1.5%;
	width: 4%;
}
.top-slant-bg, .bottom-slant-bg{
	background-color:@slant;
}
.price-chart{
	@media @phone{
	border-radius: 2rem;
	width:75%;
	display:flex;
	justify-content: space-around;
	align-items: center;
	
	height:25rem;
	background: url("https://i.ibb.co/F01DMXF/Mask.png");
	
}}
.speech-bubble {
	position: relative;
	background:@main-bg-color;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: @main-bg-color;
	border-left: 0;
	border-bottom: 0;
	
}