// header styles //

.hook-pitch{
    @media @phone {
    display:flex;
    flex-direction: column;
    margin:0 3rem;
    .best-care{
        font-size:2.5rem;
    }
}}

button{
    @media @phone{
        font-size:2.85rem;
        font-weight: bold;
        border-radius:2rem;
        color:@btn-font;
        background-color:@btn-bg;
        padding:1rem;
    
    }
}
.park-assist{
    margin:10rem 0 3rem 3rem;
    width:100%;
  
img{
    width:90%;
    margin:2rem 0 0 5rem;
}
}
.park-heading{
    margin:1rem 1rem 2rem 20rem;
}
.wonderful-time{
    font-size:2rem;
    margin:2rem 3rem 1rem 1rem;

}
.room-heading{
    font-size:2rem;
}
.in-img{
    margin:3rem 0;
    width:100%;
  
img{
    width:80%;
}
}
.in-room{
    margin:1rem 0 1rem 1.5rem;
}





