// header styles //

.hook-pitch{
    @media @phone {
    display:flex;
    flex-direction: column;
    margin:0 3rem;
    .best-care{
        font-size:2.5rem;
    }
}}

button{
    @media @phone{
       width:90%;
        font-size:2.85rem;
        font-weight: bold;
        border-radius:2.5rem;
        color:@btn-font;
        background-color:@btn-bg;
        padding:1rem 1rem;
    
    }
}
.mid-content{
    @media @phone{
.park-assist{
    margin:10rem 0 3rem 3rem;
    width:100%;
  
img{
    width:90%;
    margin:2rem 0 0 5rem;
}
}
.park-heading{
    margin:1rem 1rem 2rem 20rem;
}}
.wonderful-time{
    @media @phone{
    font-size:2rem;
    margin:2rem 3rem 1rem 1rem;

}

  
.room-heading{
    font-size:2rem;
    margin:1rem 0;
}
}}

.bottom-content{
    @media @phone{
            font-size:2rem;
            margin:2rem 3rem 1rem 1rem;
    }
}





