// Media Query //
@phone: ~"(max-width: 500px)";


// Background Colors //
@btn-bg-color:#7292B8;
@nav-bg-color:#7292B8;

@main-bg-color:#F6D7B3;



// Font Colors //
@main-font-color:#2D3239;
@contrast-font-color:#F9FAFA;
@h2-color:#7292B8;


// Font Family //

@main-font-family: 'Nunito', 'sans-serif';

// Button //
@btn-bg:#306D96;
@btn-font:#F9FAFA;
